.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }
  